body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: bisque;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
  }


  
  .description {
    white-space: pre-wrap;
  }
  
  .timeBlock {
    border-radius: 25px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #f8ea27;
    color: black;
    border: solid 1px black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .past {
    background-color: #666666;
    color: white;
  }
  
  .present {
    background-color: #14750b;
    color: white;
  }
  
  .future {
    background-color: #565cac;
    color: white;
  }
  
  .storeInfoBtn {
    border: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #06aed5;
    color: white;
  }
  
  .storeInfoBtn i:hover {
    font-size: 20px;
    transition: all 0.1s ease-in-out;
  }
  